<div class="container mt-4">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><%= link_to "Subjects", subjects_path %></li>
          <li class="breadcrumb-item"><%= link_to @topic.subject.name, subject_path(@topic.subject) %></li>
          <li class="breadcrumb-item"><%= link_to @topic.name, topic_path(@topic) %></li>
          <li class="breadcrumb-item active" aria-current="page">New Question</li>
        </ol>
      </nav>
    </div>
  </div>

  <h3>Add New Question for <%= @topic.name %></h3>
  <%= render 'questions/form' %>

</div>