<div class="container mt-4" id="featured-3">
  <div class="card-header d-flex justify-content-between align-items-center bg-white border-0 px-0">
    <h2 class="display-6 fw-bold"><%= @institution.name %></h2>
    <div>
      <% if current_user && current_user.admin? %>
        <%= link_to "Edit", edit_institution_path(@institution), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "Delete", institution_path(@institution), method: :delete, data: { confirm: "Are you sure? This will also delete all topics and questions within this subject." }, class: "btn btn-outline-danger btn-sm ms-2" %>
      <% end %>
    </div>
  </div>
  
  <h4>Description</h4>
  <% if @institution.description.present? %>
    <p><%= @institution.description %></p>
  <% end %>
  
  <h4>Contact email</h4>
  <p><%= @institution.contact_email %></p>
  
  <h4>Phone</h4>
  <p><%= @institution.phone %></p>
  
  <h4>Address</h4>
  <p><%= @institution.address %></p>
  
  <div class="my-4">
    <%= link_to "Back to Institutions", institutions_path, class: "btn btn-outline-primary" %>
  </div>
</div>