<%= simple_form_for(@world) do |f| %>
  <% f.object.errors[:base].each do |error| %>
    <%= f.error_notification message: error %>
  <% end %>
  
  <div class="form-inputs" data-controller="direct-upload">
    <%= f.input :subject_id, label: "Subject",
            collection: Subject.all.map { |st| [st.name.humanize, st.id] },
            include_blank: "" %>
            
    <%= f.input :name, 
                label: 'Name',
                placeholder: 'Enter name of the World',
                required: true %>
                
    <%= f.input :description, 
                label: 'Description',
                as: :text, 
                input_html: { rows: 8 },
                placeholder: 'Enter the description of the World',
                required: true %>
                
    <div class="row mb-4">
      <div class="col-md-6">
        <div>
          <% if f.object.persisted? && f.object.world_icon.attached? %>
            <%= f.hidden_field :world_icon, value: f.object.world_icon.blob.signed_id %>
            <%= f.hidden_field :remove_world_icon, value: "0" %>
          <% end %>
          
          <%= f.input :world_icon, :as => :file, label: 'World Icon', placeholder: "Choose a file...",
          input_html: { 
            class: "form-control", 
            direct_upload: true,
            required: true,
            accept: "image/*",
            data: { 
              action: 'change->direct-upload#previewImage direct-upload:end->direct-upload#uploadComplete',
              existing_image: f.object.persisted? && f.object.world_icon.attached? ? url_for(f.object.world_icon) : '',
              existing_filename: f.object.persisted? && f.object.world_icon.attached? ? f.object.world_icon.filename : ''
            }
          }%>
          
          <!-- Preview container -->
          <div id="image-preview-container" class="mt-3" style="display: none;">
            <img id="image-preview" src="" alt="Preview" class="img-thumbnail" style="max-width: 300px; max-height: 200px;">
            <div class="mt-2">
              <button type="button" class="btn btn-sm btn-outline-danger" data-action="click->direct-upload#removeImage">
                <i class="bi bi-trash"></i> Remove Image
              </button>
            </div>
          </div>
          
          <!-- File status -->
          <div id="file-status" class="mt-2">
            <% if f.object.persisted? && f.object.world_icon.attached? %>
              <span class="text-success">Current file: <%= f.object.world_icon.filename %></span>
            <% else %>
              <span class="text-muted">No file chosen</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-actions mt-4">
    <%= f.button :submit, @world.new_record? ? "Create World" : "Update World", class: 'btn-primary' %>
    <% if @world.persisted? %>
      <%= link_to "Manage Levels", world_levels_path(@world), class: "btn btn-secondary ms-2" %>
    <% end %>
    <%= link_to "Cancel", worlds_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
  
<% end %>