<%= simple_form_for @user, url: url, method: method do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :first_name, required: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :last_name, required: true %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :nickname, required: true, label: "Display Name" %>
      </div>
    </div>
    
    <%= f.input :email, required: true %>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :password, required: false, hint: "Leave blank to keep current password" %>
      </div>
      <div class="col-md-6">
        <%= f.input :password_confirmation, required: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :country %>
      </div>
    </div>
    
    <% if current_user.admin? %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :role, 
                      collection: User::roles.keys, label_method: lambda { |role| role.titleize }, 
                      required: true %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :institution_id, collection: Institution.all, placeholder: 'Type to find business category',
          input_html: {data: {controller: 'slim-select'}} %>
        </div>
      </div>
      
      <%= f.association :assigned_subjects,
        collection: Subject.all, placeholder: 'Type to find business category',
          input_html: {data: {controller: 'slim-select'}} %>
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :quiz_attempts %>
        </div> 
        
        <div class="col-md-6">
          <%= f.input :max_quiz_attempts %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="form-actions mt-4">
    <%= f.button :submit, submit_text, class: 'btn-primary' %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-outline-primary ms-2" %>
  </div>
<% end %>