<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">
    <div class="col-10 col-sm-8 col-lg-4 mt-0">
      <%= image_tag "quiz-hero.png", alt: "Quiz Hero Image", class: "navbar-logo", width: 700 %>
    </div>
    <div class="col-lg-8">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Let's start a quiz, <%= current_user.first_name || current_user.email %>!</h1>
      <p class="lead">Choose your quiz settings and test your knowledge and CSEC Exam readiness!</p>
      <%= form_with url: quiz_start_path, method: :get, local: true, class: "row g-3", data: { controller: "quiz-form" } do |f| %>
        <div class="col-md-4">
          <%= f.label :subject_id, "Subject", class: "form-label" %>
          <%= f.collection_select :subject_id, @subjects, :id, :name, 
                                 { include_blank: "Select a subject" }, 
                                 { class: "form-select", required: true, data: { action: "change->quiz-form#updateTopics" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :topic_id, "Topic", class: "form-label" %>
          <%= f.select :topic_id, [], 
                      { include_blank: "All Topics" }, 
                      { class: "form-select", disabled: true, data: { quiz_form_target: "topicSelect" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :difficulty, "Difficulty", class: "form-label" %>
          <%= f.select :difficulty, 
                       options_for_select([["Easy", "easy"], ["Medium", "medium"], ["Hard", "hard"], ["Very hard", "very_hard"], ["Mixed", "mixed"]]), 
                       {}, { class: "form-select" } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :count, "Number of Questions", class: "form-label" %>
          <%= f.select :count, 
                      options_for_select([5, 10, 15, 20, 30]),
                      {}, { class: "form-select" } %>
        </div>
        
        <div class="col-12 mt-3">
          <%= f.submit "Start Quiz", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
      <div class="row mt-2">
        <div class="col-auto">
          <div class="col-auto position-relative badge-container">
            <%= image_tag "sample-badge.png", alt: "Quiz Hero Badge", class: "navbar-logo", width: 30 %>
            <span class="badge-tooltip">Quiz Hero: Completed all quizzes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
