<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">
    <div class="col-12 col-md-6 text-center text-md-end">
      <%= image_tag "verdgem-quiz-hero.png", alt: "Quiz Hero Image", class: "img-fluid", style: "max-width: 100%; height: auto;" %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Let's start a quiz, <%= !current_user.nickname.blank? ? current_user.nickname : current_user.first_name %>!</h1>
      <p class="lead">Choose your quiz settings and test your knowledge and CSEC Exam readiness!</p>
      <%= form_with url: quiz_start_path, method: :get, local: true, class: "row g-3", data: { controller: "quiz-form" } do |f| %>
        <div class="col-md-4">
          <%= f.label :subject_id, "Subject", class: "form-label" %>
          <%= f.collection_select :subject_id, @subjects, :id, :name, 
                                 { include_blank: "Select a subject" }, 
                                 { class: "form-select", required: true, data: { action: "change->quiz-form#updateTopics" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :topic_id, "Topic", class: "form-label" %>
          <%= f.select :topic_id, [], 
                      { include_blank: "All Topics" }, 
                      { class: "form-select", disabled: true, data: { quiz_form_target: "topicSelect", action: "change->quiz-form#updateSubTopics" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :sub_topic_id, "Sub-Topic", class: "form-label" %>
          <%= f.select :sub_topic_id, [], 
                      { include_blank: "All Sub-Topics" }, 
                      { class: "form-select", disabled: true, data: { quiz_form_target: "subTopicSelect" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :question_type, "Question Type", class: "form-label" %>
          <%= f.select :question_type, 
                      options_for_select([["Multiple Choice", "multiple_choice"],["Long Answer", "long_answer"]]), 
                      {}, { class: "form-select", data: { quiz_form_target: "questionTypeSelect", action: "change->quiz-form#questionTypeChanged" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :difficulty, "Difficulty", class: "form-label" %>
          <%= f.select :difficulty, 
                       options_for_select([["Mixed", "mixed"], ["Easy", "easy"], ["Medium", "medium"], ["Hard", "hard"]]), 
                       {}, { class: "form-select", data: { quiz_form_target: "difficultySelect" } } %>
        </div>
        
        <div class="col-md-4">
          <%= f.label :count, "Number of Questions", class: "form-label" %>
          <%= f.select :count, 
                      options_for_select([10, 15, 20]),
                      {}, { class: "form-select" } %>
        </div>
        
        <div class="col-12 mt-3">
          <%= f.submit "Start Quiz", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>