<div class="border-top">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Follow Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
  					  <%= link_to '#', class:"nav-link p-0 text-body-secondary" do %>
  						  <i class="bi bi-instagram"></i>
  						  <span class="">Instagram</span>
  					  <% end %>
  					</li>
  					
  					<li class="nav-item mb-2">
  					  <%= link_to users_path, class:"nav-link p-0 text-body-secondary" do %>
  						  <i class="bi bi-facebook"></i>
  						  <span class="">Facebook</span>
  					  <% end %>
  					</li>
  					
  					<li class="nav-item mb-2">
  					  <%= link_to users_path, class:"nav-link p-0 text-body-secondary" do %>
  						  <i class="bi bi-twitter"></i>
  						  <span class="">Twitter</span>
  					  <% end %>
  					</li>
					  
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>About Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><%= link_to "About VerdGem", pages_about_path, class:"nav-link p-0 text-body-secondary"%></li>
            <li class="nav-item mb-2"><%= link_to "Our Blog", pages_our_blog_path, class:"nav-link p-0 text-body-secondary"%></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Support</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><%= link_to "Contact Us", pages_contact_us_path, class:"nav-link p-0 text-body-secondary"%></li>
            <li class="nav-item mb-2"><%= link_to "FAQs", pages_faqs_path, class:"nav-link p-0 text-body-secondary"%></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <%= form_with model: Subscriber.new, class: "row g-3 align-items-center" do |f| %>
            <h5>Subscribe to our newsletter</h5>
            <p class="my-0">Monthly digest of what's new and exciting from us.</p>
            <div class="col-auto flex-grow-1">
              <%= f.email_field :email, class: "form-control", placeholder: "Your email address", required: true %>
            </div>
            <div class="col-auto">
              <%= f.submit "Subscribe", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2025 VerdGem. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>