<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-xl">
    <%= link_to root_path do %>
    <%= image_tag "Logo-full.png", alt: "VerdGem logo", class: "navbar-logo", width: 150 %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mx-auto">
	      <li class="nav-item mx-2">
				  <%= link_to authenticated_root_path, class:"nav-link" do %>
					  <i class="bi bi-house"></i>
					  <span>Home</span>
				  <% end %>
				</li>
				
				<li class="nav-item mx-2">
				  <%= link_to subjects_path, class:"nav-link" do %>
					  <i class="bi bi-journal"></i>
					  <span>Subjects</span>
				  <% end %>
				</li>
				
				<% if current_user %>
					<li class="nav-item mx-2">
					  <%= link_to quiz_sessions_path, class:"nav-link" do %>
						  <i class="bi bi-pencil"></i>
						  <span>Quiz Sessions</span>
					  <% end %>
					</li>
					
					<li class="nav-item mx-2">
					  <%= link_to reports_path, class:"nav-link" do %>
						  <i class="bi bi-file-earmark-bar-graph"></i>
						  <span>Reports</span>
					  <% end %>
					</li>
					
		      <% if current_user.admin? %>
			      <li class="nav-item mx-2">
						  <%= link_to users_path, class:"nav-link" do %>
							  <i class="bi bi-person-gear"></i>
							  <span>Users</span>
						  <% end %>
						</li>
					
						<li class="nav-item mx-2">
						  <%= link_to "#", class:"nav-link" do %>
							  <i class="bi bi-gear"></i>
							  <span>Configuration</span>
						  <% end %>
						</li>
					<% end %>
				<% end %>
	    </ul>
	  </div>
    
    <% if current_user %>
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu" aria-expanded="false">
            <span class="avatar me-2"><%= current_user.initials %></span>      
            <div class="d-none d-xl-block ps-2">
              <div><%= current_user.name %></div>
              <div class="mt-1 small text-muted"><%= current_user.role.titleize %></div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <%= link_to 'My account', user_path(current_user), class: 'dropdown-item' %>
          <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
        </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-nav flex-row order-md-last">
  	    <%= link_to new_user_session_path, class: "text-decoration-none" do %>
    	    <div class="nav-link d-flex align-items-center lh-1 text-reset p-0">
    	      <i class="bi bi-person bi-xl"></i>   
    	      <div class="ps-2">
    	        <span>Login</span>
    	      </div>
    	    </div>
  	    <% end %>
  	    <%= link_to new_user_registration_path, class: "text-decoration-none" do %>
    	    <div class="nav-link d-flex align-items-center lh-1 text-reset mx-2 p-0">
    	      <div class="ps-2">
    	        <span>Sign up</span>
    	      </div>
    	    </div>
  	    <% end %>
  	  </div>
	  <% end %>
  </div>
</nav>