<div class="container col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "hero-img-cropped.png", alt: "Quiz Hero Image", class: "navbar-logo", width: 700 %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-primary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="margin-top:100px;">
  <h2 class="display-5 fw-normal text-body-emphasis">Pricing</h2>
  <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Explorer (Free)</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 quiz attempts per month</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Scholar</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9.99<small class="text-body-secondary fw-light">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>50 quiz attempts per month</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 bg-primary text-white">
        <h4 class="my-0 fw-normal">Master</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$25.99<small class="text-body-secondary fw-light">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>150 quiz attempts</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 pt-5 text-center" id="featured-3">
  <h2 class="display-5 fw-normal text-body-emphasis">Features</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <button type="button" class="btn btn-primary mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
        </svg>
      </button>
      <h3 class="fs-2 text-body-emphasis">Exam-style questions</h3>
      <p>Access hundreds of past-paper-style questions covering all sections of the syllabus.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <button type="button" class="btn btn-primary mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
          <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
          <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
        </svg>
      </button>
      <h3 class="fs-2 text-body-emphasis">Topic-Based Quizzes</h3>
      <p>Focus on specific subjects and topics to strengthen weak spots.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <button type="button" class="btn btn-primary mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
        </svg>
      </button>
      <h3 class="fs-2 text-body-emphasis">Instant Feedback</h3>
      <p>Get immediate answers and explanations after each question to improve your understanding.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
</div>

<div class="container col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "hero_img_sm.png", alt: "Quiz Hero Image", class: "navbar-logo", width: 700 %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our on demand CSEC Prep courses are coming soon!</h1>
      <p class="lead">Exciting news! 🚀 We're launching on-demand CSEC preparation 
          courses with expert-led video lessons to help you master every subject. Be the first to 
          know when they drop—subscribe now and stay ahead of the game!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= form_with model: Subscriber.new, class: "row g-3 align-items-center" do |f| %>
            <div class="col-auto flex-grow-1">
              <%= f.email_field :email, class: "form-control", placeholder: "Your email address", required: true %>
            </div>
            <div class="col-auto">
              <%= f.submit "Subscribe", class: "btn btn-primary" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
