<div class="container mt-4" id="featured-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><%= link_to "Subjects", subjects_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @subject.name %></li>
        </ol>
      </nav>
    </div>
  </div>
  
  <div class="card-header d-flex justify-content-between align-items-center bg-white border-0 px-0">
    <h2 class="display-6 fw-bold"><%= @subject.name %></h2>
    <div>
      <% if current_user && current_user.admin? %>
        <%= link_to "Edit", edit_subject_path(@subject), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "Delete", subject_path(@subject), method: :delete, data: { confirm: "Are you sure? This will also delete all topics and questions within this subject." }, class: "btn btn-outline-danger btn-sm ms-2" %>
      <% end %>
    </div>
  </div>
  
  <h4>Description</h4>
  <% if @subject.description.present? %>
    <p><%= @subject.description %></p>
  <% end %>
  
  <h4>Topics</h4>
  <% if @subject.topics.empty? %>
    <div class="alert alert-info">
      This subject does not have any topics yet yet. 
      <% if current_user && current_user.admin? %>
        <%= link_to "Add New Topic", new_subject_topic_path(@subject), class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th>Topic Name</th>
            <th>Questions</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @subject.topics.each do |topic| %>
            <tr>
              <td><%= topic.name %></td>
              <td><%= topic.questions.count %></td>
              <td>
                <%= link_to "View", topic_path(topic), class: "btn btn-outline-primary" %>
                <% if current_user && current_user.can_teach?(@subject) %>
                  <%= link_to "Add Question", new_topic_question_path(topic), class: "btn btn-outline-primary" %>
                  <%= link_to "Edit", edit_topic_path(topic), class: "btn btn btn-outline-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @quiz_sessions, renderer: WillPaginate::Bootstrap5Renderer if defined?(WillPaginate) %>
  <% end %>
  <% if current_user && current_user.can_teach?(@subject) %>
    <%= link_to "Add New Topic", new_subject_topic_path(@subject), class: "btn btn-primary" %>
  <% end %>
  
  <div class="my-4">
    <% if @questions.any? %>
      <%= link_to "Start Quiz for this Subject", quiz_select_path, class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back to Subjects", subjects_path, class: "btn btn-outline-primary" %>
  </div>
</div>