<!DOCTYPE html>
<html>
  <head>
    <title>VerdGem Quiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <%= favicon_link_tag 'Logo-icon-2.jpg' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/alerts' %>
    <div class="container-xl my-5  min-vh-80">
      <%= yield %><%= yield :page_scripts %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
